:root {
	/* primary */
	--dark-cyan: hsl(158, 36%, 37%);
	--very-dark-cyan: hsl(158, 41%, 14%);
	--cream: hsl(30, 38%, 92%);
	/* neutral */
	--very-dark-blue: hsl(212, 21%, 14%);
	--dark-gray-blue: hsl(228, 12%, 48%);
	--white: hsl(0, 0%, 100%);
	/* font families */
	--ff-title: "Fraunces", serif;
	--ff-body: "Montserrat", sans-serif;
	--fw-title: 700;
	--fw-body-r: 500;
	--fw-body-b: 700;
	--fs-body: 14px;
	--fs-title: 1.5rem;
	/* text spacing  */
	--section-spacing: 0.5em;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: start;
	padding: 1.5em;
	font-family: var(--ff-body);
	font-weight: var(--fw-body-r);
	color: var(--dark-gray-blue);
	background: var(--cream);
}

.card-container {
	display: flex;
	flex-direction: column;
	background: var(--white);
	border-radius: 8px;
	overflow: hidden;
	max-width: 325px;
	margin: 0 auto;
}

.offer-container {
	padding: 1.2em;
}

.label {
	text-transform: uppercase;
	font-size: 0.6rem;
	letter-spacing: 0.4em;
}

.title {
	font-family: var(--ff-title);
	color: var(--very-dark-blue);
	font-size: var(--fs-title);
	font-weight: var(--fw-title);
	line-height: 1em;
	margin-top: var(--section-spacing);
	margin-bottom: var(--section-spacing);
	letter-spacing: 0.02em;
}

.body-copy {
	font-size: 0.7rem;
	line-height: 1.8em;
}

.price-section {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.main-price {
	font-family: var(--ff-title);
	font-size: var(--fs-title);
	font-weight: var(--fw-title);
	color: var(--dark-cyan);
	margin-top: 0.6em;
	margin-bottom: var(--section-spacing);
	margin-right: var(--section-spacing);
}

.old-price {
	font-size: 0.7em;
	text-decoration: line-through;
}

.btn {
	display: flex;
	justify-content: center;
	gap: 1em;
	border-radius: 6px;
	background: var(--dark-cyan);
	color: var(--white);
	padding: 1em;
	font-size: 0.7em;
	font-weight: var(--fw-body-b);
}

.btn:hover {
	cursor: pointer;
	background: var(--very-dark-cyan);
}

.cart-icon {
	height: 1.2em;
}

@media only screen and (min-width: 650px) {
	body {
		justify-content: center;
	}

	.card-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		max-width: 450px;
	}

	.product-image {
		content: url("images/image-product-desktop.jpg");
	}
}

/* 
set fonts up as constants 
import font awesome for icons 
lay down html 
. 

how is it going to break into desktop
flex direction row on card container 
max width of whatever. 

320px - 375
px
media break point mobile 
card container to have rounded edges
card container to display flex direction column
7.5 units for image & 11.5 for bottom
offer container. 
span for perfume label 
h2 for heading 
p for text with span for chanel
div for price display flex
span for main price and span for previous 
div button displaying flex 
containing shopping cart and text as span 
*/

.attribution {
	font-size: 11px;
	text-align: center;
	position: absolute;
	bottom: 5px;
	left: 50%;
	transform: translate(-50%, 0);
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
